body {
  background-color: #000000ff;
}
body a {
  text-decoration: none !important;
}
.logo-img img {
  max-width: 80px;
}
.logo-heading {
  color: #fcd535ff;
  font-weight: 700;
  font-family: Exo\2, sans-serif;
}
.change-btn {
  width: 110px;
}
.hero-heading {
  color: #fcd535ff;
  font-weight: 900;
  font-family: Exo\2, sans-serif !important;
  font-size: 48px;
}
.hero-heading2 {
  color: rgb(160, 131, 17);
}
.chacha-image {
  background: linear-gradient(
    90deg,
    rgba(10, 10, 0, 1) 0%,
    rgba(153, 136, 8, 1) 51%,
    rgba(3, 3, 3, 1) 100%,
    rgba(3, 3, 3, 1) 100%
  );
}
.chacha-image img {
  width: 120% !important;
}
.yellow-text {
  color: #fcd535ff;
}
.white-text {
  color: whitesmoke;
  font-size: 17px;
}
.whale-btn {
  color: black;
  font-size: 25px;
  padding: 3px 15px;
  border: none;
  background-color: #fcd535ff;
  font-weight: 700;
  border-radius: 5px;
}
.tick-images img {
  width: 4%;
}
.tick-images p {
  color: whitesmoke;
}
.grey-color {
  background-color: #1e2329 !important;
  border-radius: 10px !important;
}
.discount-bg {
  background: linear-gradient(
      90deg,
      rgba(113, 76, 3, 0.808) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../public/asset/bgcover.png);
    border-radius: 10px;
    background-size: cover;
    
}
.whale-btn1{
  color: black;
  font-size: 25px;
  padding: 8px 75px;
  border: none;
  background-color: #fcd535ff;
  font-weight: 700;
  border-radius: 5px;

}
.dist span{
  color: #fcd535ff;
}